{% extends "geolocation_app/layout.html" %}
{% block body %}
    {% if is_child %}
        <div id="map"></div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% else %}
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            {% if parent and not children %}
            {% elif children and parent %}
                <h2>Parent of Children</h2>
                <p>Parent Name: {{ parent }}</p>
                <p>Parent ID: {{ parent_id }}</p>
                <ul>
                    {% for child in children %}
                        <li>{{ child }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}

    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
{% endblock %}
