{% extends "geolocation_app/layout.html" %}
{% block body %}
<div class="register">
    <div class="register__content">
        <div class="register__img">
            <img src="assets/img/img-register.svg" alt="Register Image">
        </div>

        <div class="register__forms">
            <form action="{% url 'register' %}" method="post" class="register__create" id="register-in">
                {% csrf_token %}
                <h1 class="register__title">Sign Up</h1>

                <div class="register__box">
                    <i class='bx bx-user register__icon'></i>
                    <input autofocus type="text" name="username" placeholder="Username" class="register__input form-control">
                </div>

                <div class="register__box">
                    <i class='bx bx-envelope register__icon'></i>
                    <input type="email" name="email" placeholder="Email Address" class="register__input form-control">
                </div>

                <div class="register__box">
                    <i class='bx bx-phone register__icon'></i>
                    <input type="text" name="phone_number" placeholder="Phone Number" class="register__input form-control">
                </div>

                <div class="register__box">
                    <i class='bx bx-lock-alt register__icon'></i>
                    <input type="password" name="password" placeholder="Password" class="register__input form-control">
                </div>

                <div class="register__box">
                    <i class='bx bx-lock-alt register__icon'></i>
                    <input type="password" name="confirmation" placeholder="Confirm Password" class="register__input form-control">
                </div>

                <div class="register__box">
                    <i class='bx bx-user-check register__icon'></i>
                    <select name="Type" id="Type" class="register__input form-control">
                        <option disabled selected>Choose your Account Type</option>
                        <option value="parent">Parent</option>
                        <option value="child">Child</option>
                    </select>
                </div>

                <!-- Field for parent_id (only visible if registering as a child) -->
                <div class="register__box" id="parent_id_field" style="display: none;">
                    <i class='bx bx-id-card register__icon'></
