/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9f0f7;
}

/* Register Page Styles */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.register__content {
  display: grid;
  justify-items: center;
}

.register__forms {
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
}

.register__title {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  color: var(--first-color-dark);
}

.register__box {
  display: flex;
  align-items: center;
  background-color: #FFF;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: 0.5rem;
}

.register__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.register__input::placeholder {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.register__button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

.register__button:hover {
  background-color: var(--first-color-dark);
}

.register__account, .register__signin {
  font-weight: 600;
  font-size: var(--small-font-size);
}

.register__account {
  color: var(--first-color-dark);
}

.register__signin {
  color: var(--first-color);
  cursor: pointer;
  text-decoration: none;
}

/* Customize the appearance of the select element */
select#Type {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--normal-font-size);
  border: none;
  border-radius: 0.5rem;
  background-color: #FFF; /* White background color */
  color: var(--first-color-dark);
  appearance: none; /* Remove default arrow */
  outline: none; /* Remove outline */
}

select#Type option {
  padding: 0.5rem;
  font-size: var(--normal-font-size);
}

select#Type:hover {
  background-color: var(--first-color-lighten); /* Lighten background color on hover */
}

select#Type:focus {
  border-color: var(--first-color); /* Change border color on focus */
}
  

.chat__item__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  word-wrap: break-word;
  margin: 10px 0;
}

.user-message {
  background-color: #DCF8C6; /* Light green for user messages */
  margin-left: auto;
  margin-right: 10px;
}

.other-user-message {
  background-color: #FFFFFF; /* White for other users' messages */
  margin-left: 10px;
  margin-right: auto;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  margin: 0;
}

.user-text {
  background-color: #DCF8C6; /* Green text for user messages */
}

.timestamp {
  margin-left: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#id_message_send_input {
  width: calc(100% - 40px); /* Adjust width based on button size */
  padding: 10px;
  border: 1px solid #9D4BFF;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; /* Add some margin between input and button */
}

#id_message_send_button {
  background-color: #9D4BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  align-items: center;
}

#id_message_send_button:hover {
  background-color: #23004D;
}